@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none; 
    color: #fff;
}
body {
    background: #0f0a0a;
    height: 100vh;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 2rem 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.sticky {
    border-bottom: 2px solid rgba(255,255,255,.1);
    background: #0f0a0a;
}
.logo {
    font-size: 2.9rem;
    font-weight: 600;
    text-decoration: none;
    color: #00ff00;
    transform: translateX(-100%);
    opacity: 0;
    animation: RightSlide 1s ease forwards;
}
@keyframes RightSlide {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#menu {
    color: #fff;
    font-size: 2.5rem;
    display: none;
}
.navbar a {
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    margin: 0 2.5rem;
    font-weight: 500;
    letter-spacing: .02rem;
    transition: .5s ease;
    transform: translateY(-100px);
    opacity: 0;
    animation: TopSlide 1s ease forwards;
    animation-delay: calc(.2s * var(--vlr));
}
@keyframes TopSlide {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.navbar a:hover, .navbar a.active {
    color: #00ff00;
}
section {
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}
.about, .education, .contact, .skills {
    overflow: hidden;
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-content {
    max-width: 70rem;
}
.text-content h1 {
    font-size: 5rem;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .05rem;
    font-weight: 600;
    transform: translateY(-100px);
    opacity: 0;
    animation: RightSlide 1s ease forwards;
    animation-delay: 1s;
}
.text-animation {
    position: relative;
    width: 32.8rem;
}
.text-animation h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #00ff00;
    background: linear-gradient(#00ff00,#00ff00);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    transform: translateY(-100px);
    opacity: 0;
    animation: textSlide 6s linear infinite, TopSlide 1s ease forwards;
    animation-delay: 2s, 1.2s;
}
@keyframes textSlide {
    0%, 10%, 100% {
        background-position: -33rem 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}
.text-animation::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-right: 2px solid #00ff00;
    transform: translateY(-100px);
    opacity: 0;
    animation: CursorSlide 6s linear infinite, TopSlide 1s ease forwards;
    animation-delay: 2s, 1.2s;
}
@keyframes CursorSlide {
    0%, 10%, 100% {
        width: 0;
    }
    65%, 78%, 85% {
        opacity: 1;
        width: 100%;
    }
    75%, 81% {
        opacity: 0;
    }
}
.text-content p {
    font-size: 1.4rem;
    margin: 1rem 0;
    transform: translateX(100px);
    opacity: 0;
    animation: leftSlide 1s ease forwards;
    animation-delay: 1.4s;
}
@keyframes leftSlide {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.btn-section {
    width: 32.5rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    position: relative;
}
.btn-section::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #0f0a0a;
    height: 100%;
    width: 100%;
    z-index: 2;
    animation: Slide 1s ease forwards;
    animation-delay: 1.6s;
}
@keyframes Slide {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
 .btn {
    height: 100%;
    width: 15rem;
    color: #fff;
    background: rgba(255,255,255,.1);
    border: .2rem solid rgba(255,255,255,.3);
    backdrop-filter: blur(5rem);
    border-radius: .8rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    height: 300%;
    width: 100%;
    background: linear-gradient(
        #0f0a0a, #00ff00, #0f0a0a, #00ff00
    );
    z-index: -1;
    transition: .5s ease;
}
.btn:hover::before {
    top: 0;
}
.social-media {
    margin: 2rem 0;
}
.social-media i {
    display: inline-block;
    font-size: 2.5rem;
    background: rgba(255,255,255,.1);
    border: .2rem solid rgba(255,255,255,.3);
    padding: .8rem;
    margin: 0 .5rem;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: Bottom 1s ease forwards;
    animation-delay: calc(.2s * var(--vlr));
    transform: translateY(100px);
    opacity: 0;
}
@keyframes Bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.social-media i::after {
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    height: 300%;
    width: 100%;
    background: linear-gradient(
        #0f0a0a, #00ff00, #0f0a0a, #00ff00
    );
    z-index: -1;
    transition: .5s ease;
}
i:hover::after {
    top: 0;
}
.home img {
    width: 30vw;
    background: rgba(255,255,255,.1);
    border: .2rem solid rgba(255,255,255,.3);
    border-radius: 50%;
    filter: drop-shadow(0 0 8rem #00ff00);
    animation: Scale 1s ease forwards;
    scale: 0;
    animation-delay: 2s;
}
@keyframes Scale {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}
/* about section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6rem;
    gap: 2rem;
}
.title {
    font-size: 5rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(-100px);
    opacity: 0;
}
section.start-animation .title {
    animation: top 1s ease forwards;
}
@keyframes top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.title span {
    color: #00ff00;
}
.about img {
    height: 25rem;
    width: 25rem;
    background: rgba(255,255,255,.1);
    border: .2rem solid rgba(255,255,255,.3);
    border-radius: 50%;
    filter: drop-shadow(0 0 8rem #00ff00);
    scale: 0;
}
section.start-animation .aboutImg {
    animation: scaleout 1s ease forwards;
}
@keyframes scaleout {
    0% {
       scale: 0;
    }
    100% {
     scale: 1;
    }
}
.text-content2 {
    text-align: center;
}
.text-content2 h2 {
    font-size: 2.6rem;
    transform: translatex(-100px);
    opacity: 0;
}
section.start-animation .text-content2 h2 {
    animation: Right 1s ease forwards;
}
@keyframes Right {
    0% {
        transform: translatex(-100px);
        opacity: 0;
    }
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}
.text-content2 p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    transform: translatex(100px);
    opacity: 0;
}
section
